# Part 1 - Import and prepare the table from the website

In [79]:
import pandas as pd
import requests as req
import numpy as np
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
r= req.get(URL)
dfs = pd.read_html(URL)
df = dfs[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# There are no rows that have a 'Borough' but no Neighbourhood:

In [80]:
df[(df.Borough != 'Not assigned') & (df.Neighbourhood == 'Not assigned')]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

## Ignore cells that have a 'Borough' value of 'Not assigned':

In [81]:
df = df[df.Borough!='Not assigned']
df.reset_index(drop=True,inplace=True)
df.sort_values('Postal Code', ascending = True) # sort df by postal codes
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## Use the shape attribute to show the number of rows

In [82]:
df.shape

(103, 3)

## Download and sort the csv values of Latitude and Longitude for the Toronto Postal Codes into a dataframe, df1

In [83]:
url1 = 'https://cocl.us/Geospatial_data'
df1 = pd.read_csv(url1)
df1.sort_values('Postal Code', ascending = True) #df1 is sorted by postal codes, just like df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

## Create a new dataframe showing columns for the latitude and longitude of each postal code that is to be considered

In [84]:
#First create Toronto Postal Code dictionaires where the values are the Latitude and Longitude for all Toronto Postal Codes (keys):
post_lat = dict(zip(df1['Postal Code'], df1.Latitude))
post_long = dict(zip(df1['Postal Code'], df1.Longitude))

#Create a list for the postal codes that we are going to consider. These are the keys to the Toronto Postal Code dictionaires
a=df['Postal Code'].tolist()

#Since both df and df1 were sorted in ascending order using Postal Codes we can match against Postal codes to get the latitudes and longitudes we want
df = df.assign(Latitude=[post_lat[x] for x in a])
df = df.assign(Longitude=[post_long[x] for x in a])
df.head(10)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937